@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-quicksand: 'Quicksand', sans-serif;
  --color-primary: #ff623e;
  --color-primary-100: #421abc;
  --color-primary-300: #cc4e32;
  --color-black: #000000;
  --color-white: #ffffff;
  /* --w-1440: 1440px; */

  --color-light: #0a0d12;
  --color-dark: #fdfdfd;
  --color-gray-border: #dedcdc;
  --color-neutral: #fafafa;

  /* Display Sizes */
  --text-display-3xl: 3.75rem; /* 60px */
  --leading-display-3xl: 4.5rem; /* 72px */

  --text-display-2xl: 3rem; /* 48px */
  --leading-display-2xl: 3.75rem; /* 60px */

  --text-display-xl: 2.5rem; /* 40px */
  --leading-display-xl: 3rem; /* 48px */

  --text-display-lg: 2.25rem; /* 36px */
  --leading-display-lg: 2.75rem; /* 44px */

  --text-display-md: 2rem; /* 32px */
  --leading-display-md: 2.5rem; /* 40px */

  --text-display-sm: 1.75rem; /* 28px */
  --leading-display-sm: 2.375rem; /* 38px */

  --text-display-xs: 1.5rem; /* 24px */
  --leading-display-xs: 2.25rem; /* 36px */

  /* Text Sizes */
  --text-xl: 1.25rem; /* 20px */
  --leading-xl: 2.125rem; /* 34px */

  --text-lg: 1.125rem; /* 18px */
  --leading-lg: 2rem; /* 32px */

  --text-md: 1rem; /* 16px */
  --leading-md: 1.875rem; /* 30px */

  --text-sm: 0.875rem; /* 14px */
  --leading-sm: 1.75rem; /* 28px */

  --text-xs: 0.75rem; /* 12px */
  --leading-xs: 1.5rem; /* 24px */

  /* Font weight mapping */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* Base Gray Colors (was: Neutral) */
  --color-base-25: #fdfdfd;
  --color-base-50: #fafafa;
  --color-base-100: #f5f5f5;
  --color-base-200: #e9eaeb;
  --color-base-300: #d5d7da;
  --color-base-400: #a4a7ae; /* p> dark mode */
  --color-base-500: #717680;
  --color-base-600: #535862;
  --color-base-700: #414651;
  --color-base-800: #252b37;
  --color-base-900: #181d27;
  --color-base-950: #0a0d12; /* bg-card / object > dark mode */

  --color-base-border: #dedcdc;
}
